In [1]:
import pandas as pd
import numpy as np
import os
import csv
import ast
from collections import Counter
import geopandas as gpd
import h5py
from datetime import datetime, timedelta
#### personal packages####
import sys

In [2]:
cluster_name = {0: 'Glocery&Pharmacies', 1: 'Retails', 2: 'Arts&Entertainment', 3: 'Restaurants&Bars',
                4: 'Educations', 5: 'Healthcares', 6: 'others'}

In [3]:
df_flow = pd.read_csv('../results/outflow_7c_wk_raw_loss_visitors.csv')
df_flow['MODZCTA'] = df_flow['MODZCTA'].astype(str)

In [4]:
cluster_cols = [cluster_name[0]+'_{}'.format(i) for i in range(56)] 
# 56 weeks from 2020-02-04 to 2021-03-02
# only need 53 weeks from 2020-02-24 to 2021-02-02
df_vist_cluster_i = df_flow[['MODZCTA','mod_idx']+cluster_cols].copy()

final_df = pd.melt(df_vist_cluster_i, id_vars=['MODZCTA','mod_idx'], value_vars = cluster_cols[3:3+51], var_name='week', value_name=cluster_name[0]+'_visits_weekly')
#### 
# Correctly adjust the code to perform the intended replacement
final_df['week'] = final_df['week'].apply(lambda x: (int(x.split('_')[1]) - 3))

for c_idx in range(1,7):
    print(cluster_name[c_idx])
    cluster_cols = [cluster_name[c_idx]+'_{}'.format(i) for i in range(56)]
    df_vist_cluster_i = df_flow[['MODZCTA', 'mod_idx']+cluster_cols].copy()
    temp_df = pd.melt(df_vist_cluster_i, id_vars=['MODZCTA', 'mod_idx'], value_vars = cluster_cols[3:3+51], 
                    var_name='week', value_name=cluster_name[c_idx]+'_visits_weekly')
    temp_df['week'] = temp_df['week'].apply(lambda x: (int(x.split('_')[1]) - 3))
    final_df = pd.merge(final_df, temp_df, on=['MODZCTA','mod_idx','week'])

Retails
Arts&Entertainment
Restaurants&Bars
Educations
Healthcares
others

Merge all the other data at the zipcode level

In [5]:
### 2 read scores data at zipcode level#########
final_df['MODZCTA'] = final_df['MODZCTA'].astype(int)
df_mod_score = pd.read_csv('../results/modzcta_scores.csv')
df_2 = final_df.merge(df_mod_score, right_on = 'MODZCTA', left_on='MODZCTA',how='left')
df_2.dropna(subset=['score_median'],inplace=True)
print(len(df_2))

6477

In [7]:
##### 3 social economic data ######
df_sed_nyc = pd.read_csv('../Data/sed_nyc_modzcta_2021.csv')
# df_sed_nyc = pd.read_csv('../Data/sed_old.csv')
df_3 = df_2.merge(df_sed_nyc, right_on = 'MODZCTA', left_on='MODZCTA',how='left')
print(len(df_3))

6477

In [9]:
df_borough = pd.read_csv('../Data/data-by-modzcta.csv')

In [12]:
df_borough

,MODIFIED_ZCTA,NEIGHBORHOOD_NAME,BOROUGH_GROUP,label,lat,lon,COVID_CONFIRMED_CASE_COUNT,COVID_PROBABLE_CASE_COUNT,COVID_CASE_COUNT,COVID_CONFIRMED_CASE_RATE,COVID_CASE_RATE,POP_DENOMINATOR,COVID_DEATH_COUNT,COVID_DEATH_RATE
0,10001,Chelsea/NoMad/West Chelsea,Manhattan,"10001, 10118",40.750693,-73.997137,9463,2379,11842,34269.98,42885.46,27613.09,68,246.26
1,10002,Chinatown/Lower East Side,Manhattan,10002,40.715781,-73.986176,24721,5163,29884,32820.11,39674.62,75322.71,481,638.59
2,10003,East Village/Gramercy/Greenwich Village,Manhattan,10003,40.731825,-73.989164,17104,3487,20591,31687.09,38147.16,53977.81,110,203.79
3,10004,Financial District,Manhattan,10004,40.703675,-74.013106,1098,314,1412,36943.38,47508.24,2972.12,3,100.94
4,10005,Financial District,Manhattan,10005,40.706092,-74.008861,2467,998,3465,28171.02,39567.32,8757.23,1,11.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,11691,Edgemere/Far Rockaway,Queens,11691,40.601330,-73.761357,24040,2801,26841,35957.71,40147.30,66856.31,682,1020.10
173,11692,Arverne/Edgemere,Queens,11692,40.592794,-73.792203,6733,1195,7928,32017.50,37700.09,21029.13,166,789.38
174,11693,Arverne/Broad Channel,Queens,11693,40.603699,-73.821926,4071,880,4951,32125.59,39069.96,12672.14,72,568.18
175,11694,Belle Harbor-Neponsit/Rockaway Park,Queens,11694,40.577599,-73.844553,7141,1609,8750,34365.77,42109.01,20779.40,151,726.68
176,11697,Breezy Point,Queens,11697,40.559070,-73.907199,1731,353,2084,51022.56,61427.51,3392.62,22,648.47

In [15]:
df_3 = df_3.merge(df_borough, right_on = 'MODIFIED_ZCTA', left_on='MODZCTA',how='left')
df_3['BOROUGH_GROUP'].replace({'Manhattan':'MN', 'Brooklyn':'BK', 'Queens':'QN', 'Bronx':'BX', 'Staten Island':'SI'}, inplace=True)

In [23]:
### 4 merge with borough cases ###
covid_cases = pd.read_csv('../data/cases_borough_weekly.csv')
for col in ['CASE_COUNT','DEATH_COUNT', 'borough_case_count', 'borough_death_count']:
    covid_cases[col] = covid_cases[col].astype(float)
    covid_cases.loc[covid_cases[col]==0,col] = 0.1
    covid_cases[col+'_log'] = np.log(covid_cases[col])

df_4 = df_3.merge(covid_cases, left_on=['BOROUGH_GROUP','week'], right_on=['borough', 'week'], how='left')
print(len(df_4))

6477

In [24]:
### 5 merge with policies ####
df_policies = pd.read_csv('../data/stringency_index_ny_wk.csv')
visits_scores_wk = df_4.merge(df_policies, on='week', how='left')
print(len(visits_scores_wk))

6477

In [25]:
visits_scores_wk.to_csv('../data/unpivot_merged_data_raw_loss_visitor.csv',index=False)

In [26]:
visits_scores_wk.columns

Index(['MODZCTA', 'mod_idx', 'week', 'Glocery&Pharmacies_visits_weekly',
       'Retails_visits_weekly', 'Arts&Entertainment_visits_weekly',
       'Restaurants&Bars_visits_weekly', 'Educations_visits_weekly',
       'Healthcares_visits_weekly', 'others_visits_weekly', 'score_mean',
       'score_median', 'score_std', 'gain_bias_mean', 'gain_bias_median',
       'gain_bias_std', 'loss_bias_mean', 'loss_bias_median', 'loss_bias_std',
       'loss_aversion_scores_mean', 'loss_aversion_scores_median',
       'loss_aversion_scores_std', 'rescale_avail_mean',
       'rescale_avail_median', 'rescale_avail_std', 'rescale_realistic_mean',
       'rescale_realistic_median', 'rescale_realistic_std', 'agency_mean',
       'agency_median', 'agency_std', 'regulated_scores_mean',
       'regulated_scores_median', 'regulated_scores_std',
       'regulated_agency_mean', 'regulated_agency_median',
       'regulated_agency_std', 'regulated_loss_mean', 'regulated_loss_median',
       'regulated_loss_std', 'weighted_estimated_average_age', 'median_age',
       'Black', 'Hispanic', 'Household_income', 'Bachelor', 'Household_num',
       'Population', 'No_health_insurance', 'No_vehicles',
       'No_health_insurance_rate', 'No_vehicles_rate', 'MODIFIED_ZCTA',
       'NEIGHBORHOOD_NAME', 'BOROUGH_GROUP', 'label', 'lat', 'lon',
       'COVID_CONFIRMED_CASE_COUNT', 'COVID_PROBABLE_CASE_COUNT',
       'COVID_CASE_COUNT', 'COVID_CONFIRMED_CASE_RATE', 'COVID_CASE_RATE',
       'POP_DENOMINATOR', 'COVID_DEATH_COUNT', 'COVID_DEATH_RATE',
       'CASE_COUNT', 'DEATH_COUNT', 'borough_case_count', 'id',
       'borough_death_count', 'borough', 'CASE_COUNT_log', 'DEATH_COUNT_log',
       'borough_case_count_log', 'borough_death_count_log', 'Date',
       'StringencyIndex_WeightedAverage'],
      dtype='object')

In [16]:
visits_scores_wk.shape

(6477, 71)

In [13]:
df_zip = pd.read_csv('../results/modzcta_zip_counts.csv')
zip_selected = df_zip[df_zip['Count']>10]['MODZCTA'].values
visits_scores_wk[visits_scores_wk['MODZCTA'].isin(zip_selected)].to_csv('../data/unpivot_merged_data_raw_loss_visitor_s.csv',index=False)