In [2]:
import pandas as pd
import numpy as np
import os
import csv
import ast
import matplotlib.pyplot as plt
from collections import Counter
import geopandas as gpd
import h5py
from datetime import datetime, timedelta
import sys
# import mobility as mbl

In [12]:
df_mapping_new = pd.read_csv('../data/nyc_tract_modzcta_poi_v2020.csv')

In [13]:
df_mapping_old = pd.read_csv('../data/df_nyc_tract_modidx_v33.csv')

In [14]:
len(df_mapping_new)

2161

In [15]:
len(df_mapping_old)

2167

In [17]:
set(df_mapping_old['tract'].unique()) - set(df_mapping_new['TRACT'].unique()) 
### these are the tracts that are not in the new mapping

{36059302600,
 36059404300,
 36059404400,
 36059404600,
 36059405301,
 36081071600,
 36119000203}

In [18]:
set(df_mapping_new['TRACT'].unique()) - set(df_mapping_old['tract'].unique())

{36081009900}

In [21]:
df_tract_zip = pd.read_excel('../data/TRACT_ZIP_032020.xlsx')

In [22]:
lic_tract = df_tract_zip[df_tract_zip['ZIP'] == 11101]['TRACT'].values

In [23]:
df_lic_tract = df_tract_zip[df_tract_zip['ZIP'] == 11101].copy()

In [10]:
df_tract_data = pd.read_csv('../data/tract_data2020.csv')

In [12]:
df_tract_data.head()

,GEOID,Population,Black,Hispanic,Householdincome,Bachelor,Households_num,Ageunder5,Age5to9,Age10to14,Age15to24,Age25to44,Age45to64,Age65to74,Age75plus,No_vehicle,health_insurance,mean_householdsize
0,36001000100,2029,1141,217,45268.0,135,769,239,88,106,437,425,454,196,84,93,2016,2.610000
1,36001000201,3263,2230,152,37500.0,447,1382,79,170,213,895,933,769,146,58,440,3263,2.226667
2,36001000202,2153,1968,64,25290.0,83,913,253,225,192,264,540,541,21,117,414,2143,2.080000
3,36001000301,3016,1116,978,36964.0,43,1135,157,64,422,568,678,898,141,88,576,3016,2.655000
4,36001000302,2931,469,65,42266.0,300,1585,276,18,57,455,876,654,251,344,255,2900,1.840000

In [15]:
df_lic = df_tract_data[df_tract_data['GEOID'].isin(lic_tract)].copy()

In [26]:
df_lic = df_lic.merge(df_lic_tract, left_on='GEOID', right_on='TRACT')

In [28]:
df_lic['pop_res'] = df_lic['Population']*df_lic['RES_RATIO']

In [30]:
df_lic['pop_res'].sum()

13241.297430841341